*{
    margin:0;
    padding:0;
}

body {
    background-color: #1A1A1A;
    width:100%;
    height:100vh;
}

img {
    max-width: 90%;
    height:auto;
    border-radius:5px;
}

.wrapper {
    max-height:75%;
    min-height:34%;
    max-width:20%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 25em auto;
    background-color:#6000fd;
    border-radius:10px;
    border:2px solid #ffff;
    transition: 100ms ease-in-out;
    
}

.wrapper img {
    border:1px solid black;
}

.wrapper-title {
    font-family:"Inter",sans-serif;
    font-size:1.6rem;
    font-weight:500;
    color:#ffff;
    margin-bottom:.5em;
    margin-top:.5em;
}

/* .wrapper:hover {
    box-shadow:2px 4px 2px;
    transform:translateY(-5px);
}
*/
.temperature-picture {
    display: flex;
    flex-direction: column;
    min-width:100%;
    min-height:90%;
    align-items: center;
    justify-content: center;
    gap: 1em;

}

.calculate-btn {
    display:flex;
    justify-content: center;
    margin:1em auto;
}

.calculate-btn button {
    border: 0px;
    background-color:#fdc500;
    width:fit-content;
    padding:0.5em;
    border-radius:5px;
    font-weight:500;
    font-family:"Inter", sans-serif;
    border:1px solid white;
    
}

.calculate-btn button:hover  {
    box-shadow:2px 2px 2px; 
    cursor:pointer;
}

.calculate-btn button:active {
    background-color:rgb(253, 197, 0, 0.2);
    
}

#temp-calculation {
    font-family:"Inter", sans-serif;
    color:black;
    background-color:#fdc500;
    border:1px solid white;
    padding: .5em 4em;
    border-radius:5px;
    width:40%;
    margin-bottom:1em;
}